<div class="row">
  <div class="small-12 columns">
    <%= simple_form_for @photo do |f| %>
      <%= f.input :caption %>
      <%= f.file_field :image %>
      <%= f.button :submit %>
    <% end %>
  </div>
</div>

